.title{
    font-family: 'Benne', serif;;
    width: 10em;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    text-align: center;
}
.artist{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
}
p{
    font-family: 'Roboto Condensed', sans-serif;;
    text-align: center;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    text-indent: 10%;
}